[Desktop Entry]
Encoding=UTF-8
Name=Link to dragon_uv.obj
Type=Link
URL=https://www.dropbox.com/preview/Studium/tmpresults/dragon_uv.obj?role=personal
Icon=text-html
